<% layout("/layout/boilerplate") -%>

    <body>
        <h2 class="mentor-h2">Get Mentorship by Top Experts</h2>
        <div class="show-pg-card">
            <img src="<%= showData.image %>" alt="#" class="show-card-img">
            <h4 class="show-card-title">
                <%= showData.title %>
            </h4>
            <p class="show-card-desc">
                <%= showData.description %>
            </p>
            <p class="show-card-price">Price: <%= showData.price %>
            </p>
            <form method="post" action="/mentor/<%= showData.id %>/buy">
                <select name="Mentor" id="mentor" class="form-select show-dropdown">
                    <option value="selected" selected>Choose your Mentor</option>
                    <% for (const mentor of allMentors) { %>
                        <option value="<%= mentor.name %>">
                            <%= mentor.name %>
                        </option>
                        <% } %>
                </select>
                <br>
                <button type="submit" class="btn btn-outline-success show-buy-btn">Buy Now</button>
            </form>
        </div>
        <div class="show-more-info"></div>
        <div class="show-form row col-8 offset-2">
            <h3>Contact us for any query</h3>
            <form method="post" action="/mentor/show/contact">
                <div class="mb-3">
                    <label for="show-name" class="form-label show-pg-form-label">Name: </label>
                    <input type="text" class="form-control" id="show-name" placeholder="Enter Name">
                </div>
                <div class="mb-3">
                    <label for="show-email" class="form-label show-pg-form-label">Email: </label>
                    <input type="email" class="form-control" id="show-email" placeholder="Enter Email">
                </div>
                <div class="mb-3">
                    <label for="show-mob-no" class="form-label show-pg-form-label">Contact Number: </label>
                    <input type="number" class="form-control" id="show-mob-no" placeholder="Enter Contact No.">
                    <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
                </div>
                <div class="mb-3">
                    <label for="show-city" class="form-label show-pg-form-label">City: </label>
                    <input type="text" class="form-control" id="show-city" placeholder="Enter City">
                </div>
                <div class="mb-3">
                    <label for="show-state" class="form-label show-pg-form-label">State: </label>
                    <input type="text" class="form-control" id="show-state" placeholder="Enter State">
                </div>
                <div class="mb-3">
                    <label for="show-country" class="form-label show-pg-form-label">Country: </label>
                    <input type="text" class="form-control" id="show-country" placeholder="Enter Country">
                </div>
                <div class="form-text">We'll get back to you.</div>
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
        </div><br><br><br><br><br><br><br><br>
    </body>